body {
    background-color: #50586C;
    height: 100%;
}

h1 {
    display: flex;
}

img {
max-width: 100%;
height: auto;
}

.btn {
    display: block;
    width: 300px;
    padding: 20px 0;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(
    to right,
    #a48c61 0%,
    #a48c61 50%,
    #000000 50%,
    #000000 100%
    );
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    background-position: 0 0;
}

  /****** Base style. ******/
body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
}
